import(mvtnorm)
import(expm)
import(rstan)
importFrom("utils", "flush.console")
importFrom("stats", "sd")
#exportPattern("^[[:alpha:]]+")
export(gen.design)
export(gen.data)
export(gen.stan)
export(get.stan)
export(start.values)
