import(mvtnorm)
import(expm)
import(matrixcalc)
import(rstan)
importFrom("utils", "flush.console")
#exportPattern("^[[:alpha:]]+")
export(gen.design)
export(gen.data)
export(gen.stan)
export(get.stan)
